<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="navbar-brand ml-2">Consulta</li>
</ol>
<br class="container" />
<div class="row">
  <div class="col-md-2">
    <button class="btn btn-warning" (click)="novoCadastro()">
      <i class="fa fa-plus"></i> Novo
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>ID:</th>
          <th>Nome:</th>
          <th>CPF:</th>
          <th>Data Cadastro:</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.dataCadastro }}</td>
          <td>
            <button
              class="btn btn-primary"
              routerLink="/clientes-form/{{ cliente.id }}"
            >
              <i class="fa fa-pen-square"></i> Editar
            </button>
            <button
              class="btn btn-danger ml-2" (click)="preparandoDelecao(cliente)"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">
              <i class="far fa-trash-alt"></i> Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel">Atenção</h3>
        </div>
        <div class="modal-body" *ngIf="clienteSelecionado"> Deseja deletar {{ clienteSelecionado.nome }} ?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Confimar</button>

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
